.delete-table-container {
    margin: 20px;
  }
  
  .delete-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .delete-table th, .delete-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .delete-table th {
    background-color: #5b96b3;
    text-align: center;
  }
  
  .delete-item-button {
    padding: 10px 30px;
    background-color: #a83232;
    color: #f8caca;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-item-button:hover {
    background-color: #820000;
  }
  
  .delete-item-button.disabled {
    background-color: #f0f0f0;
    color: #cccccc;
    cursor: not-allowed;
  }
  
  .delete-item-button:disabled:hover {
    background-color: #f0f0f0;
  }
  